# See http://help.github.com/ignore-files/ for more about ignoring files.

# development environment
.idea
ngrok.exe
package-backup.json

# dependencies
node_modules

# testing
coverage

# production
build
build_server


# misc
.DS_Store
.yarnclean
npm-debug.log
yarn-error.log
*.rdb
.storybook

# security
.env

